<app-header></app-header>
<div class="container-fluid">

  
   
    
<div class=" py-40  ">
    <div class="row">
        <span class="add"><i class="fas fa-plus-circle pull-right" data-mdb-toggle="modal" data-mdb-target="#exampleModal" ></i></span>
        <!-- <br/><p class="ap">Add Post</p> -->

  

   
    </div>
    <!-- <div class="card"> -->
        
    <div class="h-screen px-2">
        <div class="sow max-w-md mx-auto bg-white shadow-lg rounded-md overflow-hidden md:max-w-md">
            <div class="md:flex">
                <div class="w-full">
                    <div class="flex justify-between items-center p-3">
                        <div class="flex flex-row items-center"> <img src="https://i.imgur.com/aq39RMA.jpg" class="rounded-full" width="40">
                            <div class="flex flex-row items-center ml-2"> <span class="font-bold mr-1">Mautic War</span> <small class="h-1 w-1 bg-gray-300 rounded-full mr-1 mt-1"></small> <a href="#" class="text-blue-600 text-sm hover:text-blue-800">Follow</a> </div>
                        </div>
                        <div class="pr-2"> <i class="fa fa-ellipsis-h text-gray-400 hover:cursor-pointer hover:text-gray-600"></i> </div>
                    </div>
                    <div> <img src="https://i.imgur.com/kOFqgtE.jpg" class="w-full h-75"> </div>
                    <div class="p-4 flex justify-between items-center">
                        <div class="flex flex-row items-center"> <i class="fa fa-heart-o mr-2 fa-1x hover:text-gray-600"></i> <i class="fa fa-comment-o mr-2 fa-1x hover:text-gray-600"></i> <i class="fa fa-send-o mr-2 fa-1x hover:text-gray-600"></i> </div>
                        <div> <i class="fa fa-bookmark-o fa-1x hover:text-gray-600"></i> </div>
                    </div>
                </div>
            </div>
            </div>
            



            <!-- <div class="card"> -->
            <div class="h-screen px-2">
            <div class="sow max-w-md mx-auto bg-white shadow-lg rounded-md overflow-hidden md:max-w-md">
                <div class="md:flex">
                    <div class="w-full">
                        <div class="flex justify-between items-center p-3">
                            <div class="flex flex-row items-center"> <img src="https://i.imgur.com/aq39RMA.jpg" class="rounded-full" width="40">
                                <div class="flex flex-row items-center ml-2"> <span class="font-bold mr-1">Mautic War</span> <small class="h-1 w-1 bg-gray-300 rounded-full mr-1 mt-1"></small> <a href="#" class="text-blue-600 text-sm hover:text-blue-800">Follow</a> </div>
                            </div>
                            <div class="pr-2"> <i class="fa fa-ellipsis-h text-gray-400 hover:cursor-pointer hover:text-gray-600"></i> </div>
                        </div>
                        <div> <img src="https://i.imgur.com/kOFqgtE.jpg" class="w-full h-75"> </div>
                        <div class="p-4 flex justify-between items-center">
                            <div class="flex flex-row items-center"> <i class="fa fa-heart-o mr-2 fa-1x hover:text-gray-600"></i> <i class="fa fa-comment-o mr-2 fa-1x hover:text-gray-600"></i> <i class="fa fa-send-o mr-2 fa-1x hover:text-gray-600"></i> </div>
                            <div> <i class="fa fa-bookmark-o fa-1x hover:text-gray-600"></i> </div>
                    </div>
                    </div>
                    </div>
                    </div>



                    <!-- <div class="card"> -->
                        <div class="h-screen px-2">
                        <div class="sow max-w-md mx-auto bg-white shadow-lg rounded-md overflow-hidden md:max-w-md">
                            <div class="md:flex">
                                <div class="w-full">
                                    <div class="flex justify-between items-center p-3">
                                        <div class="flex flex-row items-center"> <img src="https://i.imgur.com/aq39RMA.jpg" class="rounded-full" width="40">
                                            <div class="flex flex-row items-center ml-2"> <span class="font-bold mr-1">Mautic War</span> <small class="h-1 w-1 bg-gray-300 rounded-full mr-1 mt-1"></small> <a href="#" class="text-blue-600 text-sm hover:text-blue-800">Follow</a> </div>
                                        </div>
                                        <div class="pr-2"> <i class="fa fa-ellipsis-h text-gray-400 hover:cursor-pointer hover:text-gray-600"></i> </div>
                                    </div>
                                    <div> <img src="https://i.imgur.com/kOFqgtE.jpg" class="w-full h-75"> </div>
                                    <div class="p-4 flex justify-between items-center">
                                        <div class="flex flex-row items-center"> <i class="fa fa-heart-o mr-2 fa-1x hover:text-gray-600"></i> <i class="fa fa-comment-o mr-2 fa-1x hover:text-gray-600"></i> <i class="fa fa-send-o mr-2 fa-1x hover:text-gray-600"></i> </div>
                                        <div> <i class="fa fa-bookmark-o fa-1x hover:text-gray-600"></i> </div>
                                </div>
                                </div>
                                </div>
                                </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <label>Add Image:</label><br>
            <input type="file"><br>
            <label>Add Caption:</label><br><br>
            <textarea name="caption" id="cap" cols="25" rows="2" placeholder="write something here..."></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

                                
                    </div>
                    </div>




