.sow{
    margin-bottom: 20px;
}
.container{
    padding: 20px;
}
.card{
    padding:20px;
}

.pull-right{
    margin-right: 30px;
    font-size: 50px;
}
.ap{
    font-size: 12px;
    
}
.add{
    position: fixed;
    top: 80%;
   right: 50px;
}